#python 3.7.1

import random
import time

class Kumanda():

    def __init__(self,tv_durum = "Kapalı",tv_ses = 0, kanal_listesi = ["Trt"],kanal="Trt",parlaklık= 1,kontrast= 50,ses_modu = "Standart"):

        self.tv_durum = tv_durum

        self.tv_ses = tv_ses

        self.kanal_listesi = kanal_listesi

        self.kanal = kanal

        self.parlaklık = parlaklık

        self.kontrast = kontrast

        self.ses_modu =ses_modu

    def tv_ac(self):

        if (self.tv_durum=="Açık"):
            print("televizyon zaten açık..")

        else:
            print("Televizyon Açılıyor...")
            time.sleep(2)
            print("Televizyon Açık...")
            self.tv_durum = "Açık"

    def tv_kapat(self):
        if (self.tv_durum=="Kapalı"):
            print("televizyon zaten kapalı..")

        else:
            print("Televizyon Kapatılıyor...")
            time.sleep(2)
            print("Televizyon Kapalı...")
            self.tv_durum = "Kapalı"

    def ses_ayarları(self):
        if (self.tv_durum =="Kapalı"):
            print("Televizyon Kapalı olduğundan işlem yapılamaz...")

        else:
            print("""ses Ayarı
               1.Artır
               2.Azalt
               3.Çık
        """)

        while True:
            işlem = input("İşlemi Seçiniz:")
            
            if (işlem=="3"):
                break
            elif (işlem == "2"):
                if (self.tv_ses != 0):
                    self.tv_ses -=1
                    print("Ses:",self.tv_ses)
            elif (işlem =="1"):
                if (self.tv_ses !=31):

                    self.tv_ses +=1

                    print("Ses:",self.tv_ses)


    def kanal_ekle(self,kanal_ismi):
            print("Kanal ekleniyor...")
            time.sleep(1)

            self.kanal_listesi.append(kanal_ismi)
            print("Kanal Eklendi..")

    def rastgele_kanal(self):
        rastgele = random.randint(0,len(self.kanal_listesi)-1)

        self.kanal = self.kanal_listesi[rastgele]

        print("Şu anki kanal",self.kanal)

    def başa_dön(self):
        print("Başa dönülüyor...")
        time.sleep(1)
        self.kanal = self.kanal_listesi[0]
        print("Şu anki kanalınız",self.kanal)

    def ayarlar(self):
        print("""
        1.Ekran ayarları
        2.Ses ayarları
        3.Çocuk kilidi
        4.Ayarlardan çık
        
        """)

        while True:
            işlem = input("İşlemi Seçiniz:")

            if (işlem=="1"):
                print("""
                1.Parlaklık ayarı
                2.Kontrast ayarı
                3.Tasarruf modu
                4.Çıkış
                    """)

                while True:
                    işlem = input("İşlemi Seçiniz:")

                    if (işlem=="4"):
                        print("""
        1.Ekran ayarları
        2.Ses ayarları
        3.Çocuk kilidi
        4.Ayarlardan çık

        """)
                        break

                    elif(işlem=="1"):
                        print(""" İşlemi seçin - Parlaklık
                        1.Artır 
                        2.Azalt 
                        3.Çıkış""")
                        while True:
                            işlem = input("İşlemi Seçimiz:")

                            if (işlem == "3"):
                                print("""
                1.Parlaklık ayarı
                2.Kontrast ayarı
                3.Tasarruf modu
                4.Çıkış
                """)
                                break

                            elif (işlem == "2"):
                                if (self.parlaklık != 1):
                                    self.parlaklık -= 1
                                    print("Parlaklık:", self.parlaklık)
                            elif (işlem == "1"):
                                if (self.parlaklık != 10):
                                    self.parlaklık += 1

                                    print("Parlaklık:", self.parlaklık)

                    elif (işlem == "2"):

                        print(""" İşlemi seçin - Kontrast
                        1.Artır 
                        2.Azalt 
                        3.Çıkış""")
                        while True:
                            işlem = input("İşlemi Seçimiz:")

                            if (işlem == "3"):
                                print("""
                1.Parlaklık ayarı
                2.Kontrast ayarı
                3.Tasarruf modu
                4.Çıkış
                """)
                                break

                            elif (işlem == "2"):
                                if (self.kontrast != 1):
                                    self.kontrast -= 1
                                    print("Kontrast:", self.kontrast)
                            elif (işlem == "1"):
                                if (self.kontrast != 100):
                                    self.kontrast += 1

                                print("Kontrast:", self.kontrast)

                    elif (işlem=="3"):
                        print(""" İşlemi seçin - Tasarruf Modu
                        1.Açık
                        2.Kapalı
                        3.Çıkış""")
                        while True:
                            işlem = input("İşlemi Seçimiz:")

                            if (işlem == "3"):
                                print("""
                1.Parlaklık ayarı
                2.Kontrast ayarı
                3.Tasarruf modu
                4.Çıkış
                """)
                                break

                            elif (işlem == "1"):
                                print("Tasarruf Modu Açık")

                            elif (işlem == "2"):
                                print("Tasarruf Modu Kapalı")

            elif (işlem == "3"):
                print(""" İşlemi seçin
                1.Açık
                2.Kapalı
                3.Çıkış""")
                while True:
                    işlem = input("İşlemi Seçimiz: Çocuk Kilidi:")
                    if (işlem == "3"):
                        print("""
        1.Ekran ayarları
        2.Ses ayarları
        3.Çocuk kilidi
        4.Ayarlardan çık

                    """)
                        break

                    elif (işlem == "1"):
                        print("Çocuk kilidi Açık")

                    elif (işlem == "2"):
                        print("Çocuk kilidi Kapalı")

            elif (işlem=="2"):
                print(""" Modu seçin
                1.Standart
                2.Sinema
                3.Oyun
                4.Spor
                5.Çıkış""")

                while True:
                    işlem = input("İşlemi Seçimiz:")
                    if (işlem=="5"):
                        print("""
        1.Ekran ayarları
        2.Ses ayarları
        3.Çocuk kilidi
        4.Ayarlardan çık
        
        """)
                        break

                    elif (işlem == "1"):
                        self.ses_modu = "Standart"
                        print("Ayarlanıyor...")
                        time.sleep(1)
                        print("ses modu:", self.ses_modu)

                    elif (işlem == "2"):
                        self.ses_modu = "Sinema"
                        print("Ayarlanıyor...")
                        time.sleep(1)
                        print("ses modu:", self.ses_modu)

                    elif (işlem == "3"):
                        self.ses_modu = "Oyun"
                        print("Ayarlanıyor...")
                        time.sleep(1)
                        print("yeni ses modu:", self.ses_modu)

                    elif (işlem == "4"):
                        self.ses_modu = "Spor"
                        print("Ayarlanıyor...")
                        time.sleep(1)
                        print("yeni ses modu:", self.ses_modu)

            elif(işlem=="4"):
                print("Ayarlardan çıkıldı.")
                break


    def __len__(self):
        return len(self.kanal_listesi)

    def __str__(self):
        return "Tv Durumu: {}\nTv Ses: {}\nKanal Listesi: {}\nŞu Anki Kanal:{}\nParlaklık:{}\nKontrast:{}\nSes Modu:{}".format(self.tv_durum,self.tv_ses,self.kanal_listesi,self.kanal,self.parlaklık,self.kontrast,self.ses_modu)

kumanda = Kumanda()

print("""

televizyon Uygulaması

1. TV Aç
2. TV Kapat
3. Ses Aç
4. Kanal Ekle
5. Kanal Sayısı
6. Rastgele Kanal Aç
7. Televizyon Bilgileri
8. Başa dön
9. Ayarlar

Çıkmak için "q" ya basın.

""")

while True:
    işlem = input("İşlemi Seçiniz:")

    if (işlem=="q"):
        print("Program Sonlandırılıyor...")
        break

    elif (işlem=="1"):
        kumanda.tv_ac()

    elif (işlem=="2"):
        kumanda.tv_kapat()

    elif (işlem=="3"):
        kumanda.ses_ayarları()

    elif (işlem=="4"):
            kanal_isimleri = input("Kanal isimlerini ',' ile ayırarak girin")
            kanal_listesi = kanal_isimleri.split(",")
            for eklenecekler in kanal_listesi:
                kumanda.kanal_ekle(eklenecekler)

    elif (işlem=="5"):
        print("Kanal Sayısı:",len(kumanda))

    elif (işlem=="6"):
        kumanda.rastgele_kanal()

    elif (işlem=="7"):
        print(kumanda)

    elif (işlem=="8"):
        kumanda.başa_dön()

    elif (işlem=="9"):
        kumanda.ayarlar()

    else:
        print("Geçersiz İşlem...")
